  <% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render partial: 'shared/user_info', locals: { user: current_user }  %>
        <span>
          <%= link_to "view my profile", current_user %>
        </span>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/goal_form' %>
      </section>
      <section>
        <%= render 'shared/goal_list' %>
      </section>
    </aside>
    <div class="span8">
      <div class="page-header">
        <h4>Activity Feed</h4>
        <%= link_to new_activity_path, class: "btn btn-primary btn-small" do %>
        <i class="icon-plus"></i>
        <% end %>
      </div>
      <div>
        <%= render 'goals/goal_graph', user: current_user %>
      </div>
      <ul class="activities">
        <%= render partial: 'shared/activity_item', collection: @feed_items, as: 'user_activity' %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="center hero-unit" >
    <h1 style="width: 75%">Novice to Ninja</h1>
    <h3 style="width: 75%; font-weight: normal">
      Track your progress on your way from novice to ninja in the skills you want to master!
    </h3>
  </br>
    <p style="width: 75%"><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </p>
  </div>
<% end %>



