
<li>
  <span class="title">
    <%= user_activity.title %>
  </span>
  <span class="description">
    <%= wrap(user_activity.description) %>
  </span>
  <span class="activity-link">
  <% if user_activity.link? %>
    <%= link_to wrap(user_activity.link), user_activity.link %>
  <% end %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(user_activity.created_at) %> ago.
  </span>
</li>
<% if current_user.admin? && !current_user?(@user) %>
    <%= link_to "delete", @user, method: :delete,
                                data: { confirm: "You sure?" } %>
  <% end %>                       