<% provide(:page_title, 'All users') %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span4">
    <section>
      <%= render partial: 'shared/user_info', locals: { user: current_user }  %>
    </section>
    <span>
      <%= link_to "view my profile", current_user %>
    </span>
    <section>
      <%= render 'shared/stats', user: current_user %>
    </section>
    <section>
      <%= render 'shared/goal_form' %>
    </section>
  </aside>
  <div class="span8">
    <div class="page-header">
      <h4>All users</h4>
      <%= form_tag users_path, method: 'get', class: 'search' do %>
        <%= text_field_tag :search, params[:search], class: 'span3' %> 
        <%= submit_tag "Search", class: "btn-primary btn-small", name: nil %>
      <% end %>
    </div>
    <%= will_paginate %>
    <ul class="users">
        <%= render @users %>
    </ul>

    <%= will_paginate %>
  </div>
</div>