<% provide(:page_title, @user.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span4">
    <section>
      <%= link_to gravatar_for(@user, size: 104), @user %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
    
    <div class="span8">
    <div class="page-header">
      <h4><%= @user.name %></h4>
      <div>
        <% if @user.bio==nil && current_user?(@user) %>
          <p class="blue" >
            <%= link_to "Write a little bit about yourself!", edit_user_path(current_user) %>
          </p>
        <% else %>
          <%= @user.bio %>
        <% end %>  
      </div>   
      <div>
        <%= pluralize(@user.goals.count, "goal") %>
      </div>
    </div>
      <%= render 'follow_form' if signed_in? %>
      <%= render 'goals/goal_graph', user: @user %>
    </div>
</div>