<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.goals.any? %>
    <h3>Goals (<%= @user.goals.count %>)</h3>
    <ol class="goals">
      <%= render @goals %>
    </ol>
    <%= will_paginate @goals %>
    <% end %>
  </div>
</div>