<% provide(:page_title, @goal.content) %>
<% @user ||= current_user %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for current_user %>
      <h1><%= current_user.name %></h1>
      <span><%= link_to "view my profile", current_user %></span>
      <span><b>Goals:</b> <%= current_user.goals.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h4><%= @goal.content %></h4>
    <% if !@activities.any? && current_user?(@user) %>
      <%= link_to "Add an activity for this goal!", new_activity_path %>
    <% elsif @activities.any? %>
      <ul class="activities">
        <%= render partial: 'shared/activity_item', collection: @activities, as: 'user_activity' %>
      </ul>
      <%= will_paginate @activities %>
    <% end %>
  </div>
</div>